*{
  box-sizing: border-box;
}

body{
  background-color: #efefc8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta{
  background-color: #ffffff;
  box-shadow: 2px 2px 25px #000000cc;
  width: 320px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;

  &-fondo{
    display: block;
    width: 100%;
    height: 100px;
  }

  &-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #000000;
    
    &-titulo{
      margin: 0px;
    }

    &-texto{
      text-align: justify;
      margin: 0px;
      padding: 10px;
    }

    &-contenedor{
      background-color: #ff0000b0;
      border: 2px solid #000000;
      box-shadow: 0px -8px 25px #4949cecc;
      border-radius: 50%;
      margin-top: calc(-50px - 20px);

      &-img{
        width: 200px;
      } 
    } 
  }
  &-footer{
     display: flex;
     justify-content: space-around;
     margin-bottom: 5px;

     &-tipo{
      text-align: center;

      &-texto{
        background-color: #5A8BCE;
        border: 1px solid #000000;
        padding: 5px;
        border-radius: 5px;
      }

      &-texto2{
        background-color: #535D64;
        border: 1px solid #000000;
        padding: 5px;
        border-radius: 5px;
      }
     }

     &-habilidad{
      text-align: center;

      &-texto{
        background-color: #dee2e8;
        border: 1px solid #000000;
        padding: 5px;
        border-radius: 5px;
      }

      &-texto2{
        background-color: #dee2e8;
        border: 1px solid #000000;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}

.tarjeta-trasera{
  color: #ffffff;
  box-shadow: 2px 2px 25px #000000cc;
  background: url(../Img/fondo.png) fixed;
  width: 320px;
  height: 500px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;

  &-fisica{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid ;
  }

  &-estadisticas{
    padding-top: 25px;
    padding-bottom: 55px;

    h2{
      text-align: center;
    }

    &-div{
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      &-prog{
        height: 20px;
      }
    }
  }

  &-debilidades{
    border-top: 1px solid ;
    h2{
      margin: 5px;
      text-align: center;
    }
    &-tipos{
      display: flex;
      justify-content: space-around;

      p{
        text-align: center;
      }
    }
  }
}